
    <body>

		<div class="nav-container">
		</div>

		<div class="main-container">
      <!-- nav bar -->
      <section class="page-title page-title-4 bg-secondary home-nav">
  		        <div class="container">
  		            <div class="row">
  		                <div class="col-md-6">
  		                    <h3 class="uppercase mb0">Pods<br></h3>
  		                </div>
  		                <div class="col-md-6 text-right">
  		                    <ol class="breadcrumb breadcrumb-2">
  		                        <li>
  		                            <a href="index.html">Home</a>
  		                        </li>
  		                        <li>
  		                            <a href="menu.html">Menu</a>
  		                        </li>
                              <li>
                                  <a href="weekly_menu.html">Weekly Menu</a>
                              </li>
                              <li>
  		                        <a href="info.html">Info</a>
                            </li>
  		                    </ol>
  		                </div>
  		            </div>

  		        </div>


  		    </section>

          <!-- nav bar end -->

          <section class="cover fullscreen image-slider slider-arrow-controls controls-inside parallax">
		        <ul class="slides">
		            <li class="overlay image-bg">
		                <div class="background-image-holder">
  		                    <img alt="image" class="background-image" src="../waffles.jpg">
		                </div>
		                <div class="container v-align-transform">
		                    <div class="row">
		                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
		                            <!-- <img alt="Logo" class="image-small mb8" src="img/pods_logo.png"> -->
		                            <h6 class="uppercase mb32">With the community..for the community.</h6>
		                            <p class="text-justify mb0">
		                                Lorem ipsum dolor sit amet, consectetur adipiscing sdfdselit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut   enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		                            </p>
		                        </div>
		                    </div>

		                </div>

		            </li>
		        </ul>
		    </section><section class="pb64 pb-xs-40">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-4">
		                    <div class="feature feature-2 filled text-center">
                          <a href="user_form.html">
		                        <div class="text-center">
		                            <i class="ti-layers icon-sm"></i>
		                            <h5 class="uppercase">For Kids/Parents</h5>
		                        </div>
		                        <p>PODS offers children and parents access to dishes that are locally sourced and evaluated to be delicious and nutritious!&nbsp;</p>
                          </a>
		                    </div>
		                </div>

		                <div class="col-sm-4">
		                    <div class="feature feature-2 filled text-center">
                          <a href="pod_form.html">
		                        <div class="text-center">
		                            <i class="ti-gallery icon-sm"></i>
		                            <h5 class="uppercase">For Restaurants</h5>
		                        </div>
		                        <p>Utilize idle kitchen capacity by signing up to prepare food kits for local school children. Connect with your community and establish long-lasting relationships with your immediate customer base.&nbsp;</p>
                          </a>
		                    </div>

		                </div>
		                <div class="col-sm-4">
		                    <div class="feature feature-2 filled text-center">
                          <a href="school_form.html">
		                        <div class="text-center">
		                            <i class="ti-package icon-sm"></i>
		                            <h5 class="uppercase">for schools</h5>
		                        </div>
		                        <p>
		                            Outsource your food preparation operation to PODS and create a revenue stream to help fund mission-critical initiatives. Empower your students to take control of their lunch meals and ensure they are fed nutritious, delicious and locally prepared meals</p>
                            </a>
		                    </div>

		                </div>
		            </div>

		        </div>

		    </section></div>

        <!-- footer begin -->

        <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3 class="uppercase mb0">Pods<br></h3>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Recent Posts</h6>
                            <hr>
                            <ul class="link-list recent-posts">
                                <li>
                                    <a href="#">Chipotle added as a POD!</a>
                                    <span class="date">May
                                        <span class="number">1, 2017</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#">Summer is coming! Check out a preview of the seasonal menu</a>
                                    <span class="date">May
                                        <span class="number">1, 2017</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#">Nut allergies? What have amazing nut-free meals in May!</a>
                                    <span class="date">April
                                        <span class="number">29, 2017</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Latest Updates</h6>
                            <hr>
                            <div class="twitter-feed">
                                <div class="tweets-feed" data-feed-name="greatballsot">
                                </div>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Instagram</h6>
                            <hr>
                            <div class="instafeed" data-user-name="mrareweb">
                                <ul></ul>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">&copy; Copyright 2017 - PODS</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-vimeo-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </footer>

        <!-- footer end -->
      
    </body>
</html>
